@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap";



//Colors
$bleuCanard: rgb(189, 109, 17);
$bleuBackground: #E1EAF2;



// Font family 
$Title-font: 'Oswald', Helvetica, sans-serif;
$Corps-font: 'Alegreya Sans', Helvetica, sans-serif;