@import 'reset';
@import 'colors';

.container {
  padding: 0px 26px;
}

// ---- HOME PAGE ---- //

nav {
  display: flex;
  margin-bottom: 40px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 11px;
}

.current-home-link {
  color: $bleuCanard;
}


.main-title {
  font-size: 60px;
  margin: 0;
  letter-spacing: -4px;
  line-height: 59px;
}

.main-title sup {
  font-size: 25px;
}






// ---- ABOUT PAGE ---- //

.current-about-link {
  color: $bleuCanard;
}