@import 'reset';
@import 'colors-fonts';

* {
  font-family: $Garamond-font;
}

.container {
  padding: 60px 20px 0px 20px;
}

// ---- HOME PAGE ---- //

h3 {
  font-family: Helvetica, Arial, sans-serif;
}

.current-home-link {
  color: $bleuCanard;
}

.catchy-intro {
  margin-bottom: 40px;
}

.catchy-title {
  font-family: $Anton-font;
  font-size: 70px;
  margin: 0px;
  letter-spacing: -1px;
  line-height: 64px;
  font-weight: 400;
  text-transform: uppercase;
}

.catchy-title span {
  color: $bleuCanard;
  font-family: $Anton-font;
}

.catchy-title span {
  display: block; 
  margin-bottom: 0em; 
}

.catchy-title span:last-child {
  display: unset;
  color: $bleuCanard;
  font-family: $Anton-font;
}

.arrow {
  padding-top: 40px;
  text-align: center;
  visibility: hidden; //this will be unset when animation is finished
}

.arrow img {
  width: 25px;
}


// ---- HOME PAGE - PROJECTS ---- //

.projects h1 {
  visibility: hidden; //this will be unset when animation is finished
  font-size: 30px;
  margin-bottom: 45px;
}

.card {
  margin-bottom: 110px;
  visibility: hidden; //this will be unset when animation is finished
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.card hr {
  border: 1.5px solid black;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header h3 {
  margin-bottom: 3px;
  font-size: 20px;
}

.card-header p {
  margin: 0;
  font-size: 13px;
}

.card-explanation {
  line-height: 25px;
  text-align: justify;
}

.card-explanation a {
  text-decoration: none;
  color: $bleuCanard;
}

.tech-logo img {
  width: 23px;
  margin: 0px 7px;
}

.tech-logo {
  width: min-content;
  display: flex;
  align-items: flex-end;
}

.j-voting-text {
  background-color: #e2eaf2;
  padding: 40px;
  letter-spacing: 1px;
}

.j-voting-text p {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.j-voting-card article {
  padding: 15px 0px 0px 0px;
}



// ---- HOME PAGE - media queries ---- //


@media (min-width: 767px){
  nav ul {
    padding: 0 40px 0 0;
  }

  .container {
    padding: 60px 100px 0px 100px;
  }

  .catchy-title {
    font-size: 120px;
    margin: 0px 0px 115px;
    letter-spacing: -3px;
    line-height: 108px;
    margin-right: 75px;
  }

  .arrow {
    display: none;
  }

  .j-voting-text {
    padding: 90px;
  }
  
  .j-voting-text p {
    font-size: 40px;
  }

  .card {
    margin-bottom: 130px;
  }

}

@media (min-width: 1100px){

  .container {
    padding: 70px 100px 0px 100px;
  }

  .catchy-title {
    font-size: 165px;
    letter-spacing: -5px;
    line-height: 149px;
    margin-right: 210px;
  }

  .card{
    height: 605px;
    background-size: cover;
  }

  .card-mockup { // mobile version of mockups not needed in desktop
    display: none;
  }

  .card article {
    width: 30%;
  }

  .bicilante-card {
    background-image: url("../images/mockups/bicilante-bg.png");
    padding: 10px 35px 0px 0px;
  }

  .bicilante-card article {
    float: right;
  }

  .helpvzla-card {
    background-image: url("../images/mockups/help-vzla-bg.png");
    padding: 20px 0px 0px 45px;
  }

  .game-card {
    background-image: url("../images/mockups/game-bg.png");
    padding: 20px 45px 0px 0px;
  }

  .game-card article {
    float: right;
  }

  .j-voting-card {
    background-color: #e2eaf2;
    display: flex;
    flex-flow: row-reverse;
  }

  .j-voting-card-content {
    width: unset;
  }

  .j-voting-card-content article {
    width: unset;
    padding-left: 45px;
  }

  .j-voting-text {
    background-color: unset;
    padding: 20%;
    display: flex;
    align-items: center;
  }

  .j-voting-text p {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 5px;
    line-height: 48px;
    opacity: 90%;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
  }

}


@media (min-width: 1700px){

  .container {
    padding: 80px 150px 0px 150px;
  }

  .catchy-title {
    font-size: 175px;
    line-height: 159px;
  }

  .card {
    height: 835px;
  }

  .bicilante-card {
      padding: 45px 80px 0px 0px;
  }
  
  .j-voting-text {
    padding: 25%;
  }

  .helpvzla-card {
    padding: 45px 0px 0px 80px;
  }

  .game-card {
    padding: 45px 80px 0px 0px;
  }
}

// ---- Footer ---- //

.home-footer {
  visibility: hidden;//this will be unset when animation is finished
}

footer a {
  text-decoration: none;
}

footer hr {
  border-width: 0.5px;
  border-color: #0000000f;
}

.footer-content {
  padding: 50px 45px;
  text-align: center;
}

.footer-content h3 {
  margin-bottom: 25px;
  margin-top: 0px;
}

.footer-content p {
  line-height: 21px;
  margin-bottom: 8px;
}

.footer-mail {
  display: block;
  margin-bottom: 25px;
  color: $bleuCanard;
}

.footer-icons img{
  width: 24px;
  margin: 0px 16px;
}
